html,
body {
  height: 100%;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}

.photo-container {
  /* background-color: blue; */
}

.label-loading {
  margin-top: 5vh;
  /* background-color: red; */
}

.photo-container .photo {
  display: inline-block;
  width: 30vw;
  height: 30vw;
  background: url("../resources/img/photo.jpg");
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
}

.typewriter {
  display: block;
  font-family: monospace;
  font-weight: 700;
  color: green;
  font-size: 3.5vw;
  white-space: nowrap;
  border-right: 4px solid;
  width: 19ch;

  animation: typing 4s steps(19), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* photo style */
figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
  filter: grayscale(0.8);
  border-radius: 50%;
}

figure::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

figure:hover {
  animation: bloom ease-in-out 0.75s forwards;
}

figure:hover::before {
  animation: circle 2s;
}

@keyframes bloom {
  0% {
    filter: grayscale(0.8);
  }

  40% {
    filter: grayscale(0.5);
  }

  100% {
    filter: grayscale(0);
  }
}

@keyframes circle {
  0% {
    opacity: 0.5;
    background: rgba(213, 156, 34, 0.2);
  }

  40% {
    opacity: 1;
    background: rgba(213, 34, 160, 0.2);
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

/* General style */
header {
  width: 100%;
  display: block;
  background: #fff;
  height: 40px;
  margin-bottom: 4%;
  color: #ccc;
  font-weight: bold;
  box-shadow: 0px 2px 0px 0px rgba(125, 121, 125, 0.3);
  overflow: hidden;
}

header h1,
header a {
  display: inline-block;
  font-size: 0.8rem;
  margin: auto 10px;
  line-height: 40px;
}

header h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

header a {
  text-decoration: none;
  background-color: #eee;
  color: #999;
  padding: 0 20px;
  transition: all ease-in-out 0.3s;
}

header a:hover {
  background-color: #93dfec;
  color: #eee;
  margin-left: -3px;
}

/* progress bar style */
.progress-bar__container {
  margin-top: 3vh;
  width: 80vw;
  height: 2rem;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  will-change: transform;
  box-shadow: 0 0 5px white;
}

.progress-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background-color: white;
  top: 0;
  bottom: 0;
  left: -100%;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.progress-bar__text {
  display: none;
  font-weight: 400;
  color: black;
  font-size: 1.8vw;
}
